{% extends "base.html" %}

{% block main %}
<head>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css' rel='stylesheet' />
<style>
	.marker {
	background-image: url('https://cdn-icons-png.flaticon.com/512/891/891165.png');
	background-size: cover;
	width: 40px;
	height: 40px;
	cursor: pointer;
	}
	 
	.mapboxgl-popup-content{
		padding:20px 15px;
	}
	</style>
</head>

 <h2>Atm locations: </h2>
<div id='map' style='width: 100%; height: 80vh;'></div>

{% if is_staff%}
<h3 class="mt-5">Add new atm location </h3>
<form method="post" action="{% url 'atm_map:index' %}">
{% csrf_token %}
{{form}}
<button class="btn btn-primary mt-3">Add</button>
{% endif %}
</form>
<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoia2xhamRpNDQiLCJhIjoiY2wzOHE2NG05MDA4czNrbzJnbnBudzBmYSJ9.9C7zZSRoGr12Z5Eo3QpNog';
const map = new mapboxgl.Map({
container: 'map', // container ID
style: 'mapbox://styles/mapbox/outdoors-v11', 
center: [12.555130, 55.691509], // starting position [lng, lat]
zoom: 15 // starting zoom
});

map.addControl(
new mapboxgl.GeolocateControl({
positionOptions: {
enableHighAccuracy: true
},
// When active the map will receive updates to the device's location as it changes.
trackUserLocation: true,
// Draw an arrow next to the location dot to indicate which direction the device is heading.
showUserHeading: true
}),
);
map.addControl(new mapboxgl.NavigationControl());
map.addControl(new mapboxgl.FullscreenControl());


{% for location in atm_locations %}
//  const marker{{ forloop.counter }} = new mapboxgl.Marker().setLngLat([{{location.atm_longitude}}, {{location.atm_latitude}}]).addTo(map)

 // create the popup

const popup{{ forloop.counter }} = new mapboxgl.Popup({ offset: 25 }).setHTML(`
	<h6>{{location.atm_address}}</h6>
	<p>Click 
		<a target="_blank" href=${'https://www.google.com/maps?q={{location.atm_latitude}},{{location.atm_longitude}}'}>here</a> to get directions
	</p>
`)

 
// create DOM element for the marker
const text{{ forloop.counter }} = document.createElement('p');
text{{ forloop.counter }}.classList.add('marker');


 
// create the marker
new mapboxgl.Marker(text{{forloop.counter}})
.setLngLat([{{location.atm_longitude}}, {{location.atm_latitude}}])
.setPopup(popup{{ forloop.counter }})
.addTo(map);
{% endfor %}
</script>
{% endblock main %}
