{% extends "base.html" %}

{% block main %}
<h4 class='mb-3'>Account Details</h4>

<table class='table table-hover'>
    <thead class="thead-dark">
        <tr>
            <th scope="col">Account Number</th>
            <th scope="col">Account Name</th>
            <th scope="col">Balance</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ account.pk }}</td>
            <td>{{ account.name }}</td>
            <td class="amount">{{ account.balance|floatformat:"2" }}</td>
        </tr>
    </tbody>
</table>

<h3 class='mt-5'>Account Transactions</h3>

<table class='table table-hover'>
    <thead class="thead-dark">
        <tr>
            <th>Transaction UID</th>
            <th>Amount</th>
            <th>Date and Time</th>
            <th>Text</th>
        </tr>
    </thead>
    {% for movement in account.movements %}
    <tr>
        <td><a href="{% url 'bank_app:transaction_details' movement.transaction_id %}">{{ movement.transaction_id }}</a>
        </td>
        <td>{{ movement.amount|floatformat:"2" }}</td>
        <td>{{ movement.timestamp }}</td>
        <td>{{ movement.text }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock main %}