{% extends "base.html" %}

{% block main %}

<h3>My accounts:</h3>
<table class="table table-hover ">
    <thead class="thead-dark">
    <tr>
        <th>Account Number</th>
        <th>Account Name</th>
    </tr>
    </thead>
    {% for account in accounts %}
    <tbody>
    <tr>
        <td><a href="{% url 'bank_app:account_details' account.pk %}">{{ account.pk }}</a></td>
        <td>{{ account.name }}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock main %}
