{% extends "base.html" %}

{% block main %}
<h3>Make a loan</h3>
<form action="{% url 'bank_app:make_loan' %}" method="post">
    {% csrf_token %}
    <fieldset>
    <label for="name">
        Name for loan
    </label>
    <input id="name" name="name" type="text" class="form-control"/>
    <label for="amount">
        Amount
    </label>
    <input id="amount" name="amount"  class="form-control"/>
    <button class="btn btn-primary mt-3">Submit</button>
    </fieldset>
</form>
{% endblock main %}
