{% extends "base.html" %}

{% block main %}
<h3>Transfer money to another bank</h3>
<form action="{% url 'bank_app:make_external_transfer' %}" method="post">
    {% csrf_token %}
    <fieldset>
        {{ form }}
        <button class="btn btn-primary mt-3">Transfer</button>
    </fieldset>
</form>
{% endblock main %}