{% extends "base.html" %}

{% block main %}
<h3>Make a Transfer</h3>
<form action="{% url 'bank_app:make_transfer' %}" method="post">
    {% csrf_token %}
    <fieldset>
        {{ transfer_form }}
    <button class="btn btn-primary mt-3">Transfer</button>
    </fieldset>
</form>
{% endblock main %}
