{% extends "base.html" %}

{% block main %}
<h3>Search customer</h3>
<fieldset>
    <input name="search_term"
           placeholder="Enter customer data"
           class="form-control"
           type="text"
           hx-post="{% url 'bank_app:staff_search_partial' %}"
           hx-trigger="keyup changed delay:500ms"
           hx-target="#search-results"
           hx-indicator=".htmx-indicator"
    />
    {% csrf_token %}
</fieldset>

<table class="table table-hover mt-3 ">
    <thead class="thead-dark">
        <th>ID</th>
        <th>Persal ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
    </thead>
    <tbody id="search-results">
    </tbody>
</table>

{% endblock main %}
