{% extends "base.html" %}

{% block main %}
<h3>New Customer</h3>

<form action="{% url 'bank_app:staff_new_customer' %}" method="post">
    {% csrf_token %}
    <fieldset class="pb-4 mb-4">
        {{ new_user_form }}
        {{ customer_form }}
    <button class="btn btn-primary mt-3">Create customer</button>
    </fieldset>
</form>
{% endblock main %}
