{% extends "base.html" %}

{% block main %}

<h3>Transaction Details</h3>
<table class='table table-hover'>
    <thead class="thead-dark">
        <tr>
            <th>Account Number</th>
            <th>UID</th>
            <th>Amount</th>
            <th>Date and Time</th>
            <th>Text</th>
        </tr>
    </thead>
    <tbody>
        {% for movement in movements %}
        <tr>
            <td>{{ movement.account_number }}</td>
            <td>{{ movement.transaction_id }}</td>
            <td>{{ movement.amount|floatformat:"2" }}</td>
            <td>{{ movement.timestamp }}</td>
            <td>{{ movement.transfer_text }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock main %}