{% extends "base.html" %}
{% block main %}

{% load static %}
<div class="container mt-3 p-5">
    <h3>Chat with us</h3>
    <br><br>

    <h4>Click on one of the room below to open it and chat with us</h4>
    <br>
    <input class="room-name-predefined btn btn-primary" type="button" value="Accounts">
    <input class="room-name-predefined btn btn-primary" type="button" value="Fiat Currency">
    <input class="room-name-predefined btn btn-primary" type="button" value="Crypto Currency">
    <input class="room-name-predefined btn btn-primary" type="button" value="Loans">


    <div class="row">
        <div class="col-12 col-md-8">
            <div class="mb-2">
                <label for="roomInput">Enter a room name to connect to it:</label>
                <input type="text" class="form-control" id="roomInput" placeholder="Room name">
                <small id="roomInputHelp" class="form-text text-muted">If the room doesn't exist yet, it will be created for you.</small>
            </div>
            <button type="button" id="roomConnect" class="btn btn-success">Connect</button>
        </div>
        <div class="col-12 col-md-4">
            <label for="roomSelect">Active rooms</label>
            <select multiple class="form-control" id="roomSelect">
                {% for room in rooms %}
                <option>{{ room }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<script src="{% static 'index.js' %}"></script>
{% endblock main%}