{% extends "base.html" %}
{% block main %}
{% load static %}


<div class="container mt-3 p-5">
    <h5>Welcome to the <span id="room"></span> chat room</h5>
    <h6>Please describe your issue or question and one of our colleague will help you</h6>

    <div class="row">
        <div class="col-12 col-md-8">
            <div class="mb-2">
                <!-- <label for="chatLog">Room: #{{ room.name }}</label> -->
                <textarea class="form-control" id="chatLog" readonly></textarea>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" id="chatMessageInput" placeholder="Enter your chat message">
                <div class="input-group-append">
                    <button class="btn btn-success" id="chatMessageSend" type="button">Send</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <label for="onlineUsers">Online users</label>
            <select multiple class="form-control" id="onlineUsersSelector">
            </select>
        </div>
    </div>
    {{ room.name|json_script:"roomName" }}
</div>
<script src="{% static 'room.js' %}"></script>
{% endblock main%}