<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <title>KEA Bank</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
 
    {% load l10n %}
      <header class="mb-4">
 
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{% url 'bank_app:index' %}">
            {% if user.is_staff %}
            Bank Staff Portal
            {% else %}
            Bank Customer Portal
            {% endif %}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'bank_app:index' %}">Home <span class="sr-only">(current)</span></a>
              </li>
             
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'bank_app:index' %}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% if user.is_staff %}
                  Administration
                  {% else %}
                  Transfers and loans
                  {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {% if user.is_staff %}
                  <a class="dropdown-item" href="{% url 'bank_app:staff_new_customer' %}">New Customer</a>
                  <a class="dropdown-item" href="{% url 'admin:index' %}">Django Admin</a>
 
                  {% else %}
                  <a class="dropdown-item" href="{% url 'bank_app:make_transfer' %}">Transfer money</a>
                  <a class="dropdown-item" href="{% url 'bank_app:make_external_transfer' %}">Transfer Money To Other Banks</a>
                  <a class="dropdown-item" href="{% url 'bank_app:make_loan' %}">Make A Loan</a>
 
                  {% endif %}
                </div>
              </li>
              <a class="nav-link" href="{% url 'two_factor:profile' %}">Two factor authentication</a>
              <a class="nav-link" href="{% url 'atm_map:index' %}">Atm locations</a>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'chat:index' %}">Chat<span class="sr-only">(current)</span></a>
              </li>
              <a class="nav-link" href="{% url 'logout' %}">Logout </a>
             
              <!-- {% if user.is_staff %}
              <p>Welcome, {{ user }}.</p>
              {% else %}
              <p>Welcome, {{ user.customer.full_name }}.</p>
              {% endif %} -->
            </ul>
          </div>
        </nav>
 
    </header>
 
    <main class="container-md pb-5 mb-5">
    {% block main %}
    {% endblock main %}
    </main>
 
 
      <footer class="text-center text-white fixed-bottom">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright: Kea Bank
        </div>
 
    </footer>
 
    <script src="https://unpkg.com/htmx.org@1.5.0" integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI" crossorigin="anonymous"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
</body>
</html>